body {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    z-index: 2;
}

.navbar h2 {
    color: white;

}

#tarjetas {
    background-color: #121111;
}

#tarjetas .destinos {
    padding: 60px 80px 40px;
}

#tarjetas h2 {
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 0 0 30px 0;
    margin: 0 30px;
}

.card-body {
    background-color: #15F3E9;
    color: white;
}

#formulario {
    background-color: #121111;
    color: white;
    padding: 20px 100px;
}

#formulario h2 {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 0 0 30px 0;
}

footer {
    background-color: #15F3E9;
}

#informacion {
    text-align: center;
    background-color: #121111;
    color: white;
    padding: 5px 0;
}

#informacion p {
    text-align: justify;
}

#informacion h2 {
    border-bottom: 1px solid white;
    margin: 20px 60px;
    padding: 20px 0;
}

footer .redes {
    font-size: 40px;
    color: white;
    text-align: center;
}

footer p {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer {
    padding: 20px 0;
}

#informacion i {
    font-size: 25px;
    color: white;
    background-color: #15F3E9;
    padding: 5px 177px;
}

#informacion .row {
    padding: 30px 80px;
}

#formulario .casillas {
    padding: 20px 0;
}

footer i {
    color: white;
}

.boton {
    background-color: #15F3E9;
    color: white;
    border-radius: 10px;
}

@media (max-width:768px) {
    #informacion {
        display: none;
    }

    #tarjetas .destinos {
        padding: 10px 15px;
    }

    #formulario {
        padding: 10px 10px;
    }

    .card {
        margin: 10px 0;
    }

    #carousel {
        max-width: 100%;
    }
}